@import "tailwindcss";
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px); /* slight slide up */
    }
    to {
      opacity: 10;
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 2s ease-out forwards;
  }
  